{% extends 'blog/base.html' %}
{% load jformat %}
{%block title%} وبلاگ {%endblock title%}

{% block content %}
{% if page_obj %}
{% for post in page_obj %}
{% include 'blog/post_section.html' %}
        <small> کامنت‌ها (<a href="{% url 'post-details' post.slug %}#comment-section">{{ post.comments.count }}</a>)</small>
        <hr/>
{% endfor %}
{% endif %}

<nav class="blog-pagination" aria-label="Pagination">
{% if not page_obj.has_next %}
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">قدیمی‌تر</a>
        <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}"> جدیدتر </a>
{% elif not page_obj.has_previous %}
 <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}" > قدیمی‌تر </a>
 <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">جدیدتر</a>
{% elif page_obj.has_previous and page_obj.has_next %}
  <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}" > قدیمی‌تر </a>
  <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}"> جدیدتر </a>
{% endif %}   
</nav>


{% endblock content %}