{% load jformat %}

<article class="blog-post">
  <h2 class="blog-post-title card-title-color"><a href="{% url 'post-details' post.slug %}" class="blog-header-logo text-dark" style="text-decoration:none">{{ post.title }}</a></h2>
  {% if post.author.first_name %}
  <p class="blog-post-meta"> نوشته شده در تاریخ {{ post.created_at|jformat:"%A %d %B %Y" }} به‌دست <a href="#"> {{ post.author.first_name }} </a></p>
  {% else %}
    <p class="blog-post-meta"> نوشته شده در تاریخ {{ post.created_at|jformat:"%A %d %B %Y" }} به‌دست <a href="#"> {{ post.author }} </a></p>
  {% endif %}
  {{ post.content|safe }}

</article>


