{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% load jformat %}
{% block title %} وبلاگ {% endblock title %}

{% block content %}

{% if post %}
{% include 'blog/post_section.html' %}


<div id="comment-section" class="container">
	<div class="row">
		<small>کامنت‌ها ({{ comments.count }})</small>
	</div>
	{% if comments %}
	<hr>
    {% for comment in comments %}
	<div class="row comment">
	    <div class="head">
	        <small><strong class='user'>{{ comment.name }}</strong> {{ comment.created_at|jformat:"%A %d %B %Y"}}</small>
	    </div>    
	    <p>{{ comment.content| linebreaks }}</p>
	</div>
    {% endfor %}
    {% endif %}
<div class="row" id="addcomment">
	    
    {% if new_comment %}
    <div class="alert alert-success" role="alert">
        کامنت شما در انتظار تایید است.
    </div>
    {% else %}
    
    <form method="post" style="margin-top: 1.3em;">
    <h5 style="font-family: 'Oswald', sans-serif;">ارسال کامنت</h5>
        {{ comment_form|crispy }}
            <br/>

        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-md">ثبت کامنت</button>
    </form>
    {% endif %}
    </div>
    
</div>
<br/>
{% endif %}
{% endblock content %}